<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDG92ftPPub_LLit0M9wWUbFhih-XJNO9A</string>
	<key>GCM_SENDER_ID</key>
	<string>1072089637932</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.careerguidanceApp</string>
	<key>PROJECT_ID</key>
	<string>pathfind-98def</string>
	<key>STORAGE_BUCKET</key>
	<string>pathfind-98def.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1072089637932:ios:dbbe75c83da4a508245d89</string>
</dict>
</plist>